.rounded-circle {
  border-radius: 50% !important;
  max-width: 100px;
  max-height: 100px;
}

.rounded-circle-small {
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 30vh;
  overflow: hidden;
}

.lang-fr {
  display: none;
}

.author:not(:last-child):after {
  content: ", ";
}

.author:last-child:after {
  content: ". ";
}

.author {
  color: grey;
}

.title::after {
  content: ". ";
}

.imgLink {
  float: right;
}

a {
  color: #94c01a;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #824027;
}
